* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  background: #f3f3f3;
  flex-direction: column;
  font-family: 'PT Sans';
  justify-content: center;
  padding: 60px 20px 40px 20px;
}

.title {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
}

.address {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
}

.address a {
    text-decoration: none;
    color: #555;
}

.address a:hover {
    color: #000;
}

.amount {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
}

.amount-symbol {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1px;
}

.bitcoin-logo {
    margin: 0 auto;
    width: 64px;
}

.card {
  max-width: 900px;
  background: #fff;
  border-radius: 8px;
  padding: 30px 40px;
  margin: 20px 0 20px;
  border: 1px solid #999;
}

.button {
  width: 480px;
  color: #fff;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  margin: 20px auto;
  text-align: center;
  text-decoration: none;
  padding: 12px 8px;
  border-radius: 8px;
  letter-spacing: 0.5px;
  border: 1px solid rgba(86, 46, 249, 0.85);
  display: block;
  background-color: rgba(86, 46, 249, 0.75);
}

.button-link {
  text-decoration: none;
}

.button:hover {
  background-color: rgba(86, 46, 249, 0.85);
}

.disabled label {
    color: #888;
}

.disabled input {
    opacity: 0.5;
}

.field {
  width: 100%;
}

label {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  letter-spacing: 0.5px;
}

.input {
  width: 100%;
  height: 35px;
  outline: none;
  padding: 0 10px;
  font-size: 14px;
  border-radius: 5px;
  margin-bottom: 25px;
  letter-spacing: 0.5px;
  border: 1px solid #999;
  background-color: #f3f3f3;
}

.footer {
    text-align: center;
    line-height: 30px;
}

.footer a {
    text-decoration: none;
    color: #888;
}

.footer a:hover {
    color: #000;
}

.project {
    font-weight: 700;

}

.code {
  width: 480px;
  background: #f3f3f3;
  margin: 32px auto 25px auto;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid #999999;
  white-space: pre-wrap;
  word-break: break-all;
}

.note {
    color: #555;
    font-size: 18px;
    text-align: center;
}

.qrcode img {
    opacity: 0.8;
}

.qrcode:hover img {
    opacity: 1;
}

@media screen and (max-width: 680px) {
  body {
    padding: 20px 5px 30px 5px;
  }

  .title {
    font-size: 30px;
  }

  .card {
      max-width: 450px;
      padding: 25px;
  }

  .address {
      font-size: 18px;
  }

  .code {
      width: 400px;
  }

  .qrcode img {
      width: 400px;
      height: 400px;
  }

  .button {
      width: 400px;
  }

  .input {
    margin-bottom: 5px;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  body {
    padding: 20px 5px 30px 5px;
  }

  .title {
    font-size: 30px;
  }

  .card {
      max-width: 350px;
      padding: 25px;
  }

  .address {
      font-size: 18px;
  }

  .code {
      width: 300px;
  }

  .qrcode img {
      width: 300px;
      height: 300px;
  }

  .button {
      width: 300px;
  }

  .input {
    margin-bottom: 5px;
    width: 100%;
  }
}
